// Mixins Here
.btn-mixin (@color; @width; @height) {
    margin: 0 10px 20px;
    font-size: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    background-color: @color;
    width: @width;
    height: @height;
    color: white;
}
.btn button {
    .btn-mixin (@ebony-clay; 120px; 40px;);
}